<div class="container">
    <button type="button" class="btn btn-success" (click)="agregarBoleto()">
        <i class="fa-solid fa-plus"></i>
        Agregar Boleto</button>

    <table class="table caption-top">
        <caption>LISTA DE LAS VENTAS DE BOLETOS</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">DNI</th>
                <th scope="col">PRECIO REAL</th>
                <th scope="col">CATEGORIA TURISTA</th>
                <th scope="col">FECHA DE COBRO</th>
                <th scope="col">PRECIO COBRADO</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ACCIONES</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of boletos">
                <th scope="row">{{t.id}}</th>
                <td>{{t.dni}}</td>
                <td>{{t.precioReal | currency:'ARS':'symbol-narrow'}}</td>
                <td>{{t.categoriaTurista}}</td>
                <td>{{t.fechaCompra| date: 'dd/MM/yyyy'}}</td>
                <td>{{t.precio | currency:'ARS':'symbol-narrow'}}</td>

                <td>{{t.email}}</td>
                <td>
                    <button type="button" class="btn btn-warning eliminar-modificar" (click)="modificarTicket(t)">
                        <i class="fa-solid fa-pen"></i>
                        Modificar</button>
                    <button type="button" class="btn btn-danger eliminar-modificar" (click)="eliminarTicket(t)">
                        <i class="fa-solid fa-trash"></i>
                        Eliminar</button>

                </td>


            </tr>
        </tbody>
    </table>


    <button type="button" class="btn btn-info" (click)="resumenBoleto()">
        <i class="fa-solid fa-sack-dollar"></i>
                RESUMEN</button>
    <table class="table caption-top" *ngIf="resumen==true">
        <caption>RESUMEN DE LAS VENTAS DE TICKET</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">CATEGORIA TURISTA</th>
                <th scope="col">TOTAL GENERAL</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MENOR</td>
                <td>{{sumarBoletoMenor() | currency:'ARS':'symbol-narrow'}}</td>
            </tr>
            <tr>
                <td>ADULTO</td>
                <td>{{sumarBoletoAdulto() | currency:'ARS':'symbol-narrow'}}</td>
            </tr>
            <tr>
                <td>ADULTO</td>
                <td>{{sumarBoletoJubilado() | currency:'ARS':'symbol-narrow'}}</td>
            </tr>
        </tbody>
    </table>

</div>