<div class="container" >
    <h1>Productos</h1>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
  <i class="fa-solid fa-cart-shopping"></i>
    Carrito
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Lista de Productos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let producto of productosComprado">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img [src]="producto.imagen" alt="{{producto.imagen_descripcion}}" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-bg-info">
                        <h5 class="card-title">{{producto.nombre}}</h5>
                        <p class="card-text">id: {{producto.id}}</p>

                      <p class="card-text">Precio Unitario: ${{producto.precio}}</p>  
                      <p class="card-text">Cantidad: {{producto.cantidad}}</p>
                      <p class="card-text">Total: ${{mostrarTotalProducto(producto)}}</p>
                      <button class="btn btn-danger sumar-restar" (click)="restarCantidadProducto(producto)"><i class="fa-solid fa-minus"></i></button>
                      <button class="btn btn-success sumar-restar" (click)="sumarCantidadProducto(producto)"><i class="fa-solid fa-plus"></i></button>  
                    </div>

                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarCarrito()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="acreditarCompra()">Comprar</button>
            <p [hidden]="mostrarMensajeCompra" class="card-text">Se concreto la compra</p>

        </div>

      </div>
    </div>
  </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        <div class=" col-xl-3 col-lg-3 col-md-4 col-sm-6" *ngFor="let producto of productos">
            <div class="card">
                <img [src]="producto.imagen" alt="{{producto.imagen_descripcion}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text">Precio: {{producto.precio}}</p>
                    <button class="btn btn-primary" (click)="agregarProducto(producto)">
                      <i class="fa-solid fa-cart-plus"></i>
                      Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>

   

</div>