<div class="container">

  <div [hidden]="juegoIniciado" class="row   justify-content-center ">
    <div class=" text-center ">
      <button class="btn btn-dark  " (click)="empezarJuego()">Empezar Juego</button>
    </div>
  </div>

  <div class="row">
    <div  class="col-5 d-flex justify-content-center align-items-center">
      <img [hidden]="mostrarImagen" [src]="imagenAhorcado" alt="Imagen del ahorcado" class="img-fluid">
    </div>

    <div class="col-7">
      <div [hidden]="mostrarTituloCategoria" class="text-center">
        <h1>{{categoria}}</h1>
      </div>

     

      <div class="row justify-content-center text-center">
        <div *ngFor="let ls of palabraSecreta; let i = index" class="col palabra-secreta">
          <div class="letra-palabra">
            {{ ls === ' ' ? '&nbsp;' : (letraAcertada[i] ? ls : '_') }}
          </div>
        </div>
      </div>

      <div [hidden]="botonReiniciar" class="row   justify-content-center boton-reinicio">
        <div class=" text-center  ">
          <button class="btn btn-success  " (click)="reiniciarJuego()">Reiniciar Juego</button>
        </div>
      </div>

      <div [hidden]="mostrarContadorIntentos" class="row text-center justify-content-center">
        <h1>Cantidad de intentos</h1>
        <div class="container-intentos">{{cantidadIntentos}}</div>
      </div>
    </div>
  </div>



  <div [hidden]="ocultarAbecedario" class="row   justify-content-center ">
    <div *ngFor="let letra of abcedario" class=" text-center col-1">
      <button id="{{letra}}" class="  abecedario  " (click)="agregarLetra(letra)"
        [disabled]="letraIngresada.includes(letra)">{{letra}}</button>
    </div>
  </div>

  
    <div class="modal fade show" *ngIf="modalPerdedor" tabindex="-1" aria-labelledby="modalPerdidaLabel" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalPerdidaLabel">¡Perdiste!</h5>
            </div>
            <div class="modal-body">
              ¡Se te acabaron los intentos! La palabra era: {{ palabraSecreta.join('') }}.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="cerrarModalPerdedor()">Cerrar</button>
              </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="modalPerdedor" class="modal-backdrop fade show"></div>
  

  <div class="modal fade show" *ngIf="mostrarModal" tabindex="-1" aria-labelledby="modalGanador"
    aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalGanador">SELECCIONE CATEGORIA</h5>
        </div>
        <div class="modal-body">
          <select [(ngModel)]="categoriaSeleccionada">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="1">Equipos de Futbol Argentino</option>
            <option value="2">Paises</option>
          </select>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModalCategoria()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mostrarModal" class="modal-backdrop fade show"></div>

  <div class="modal fade show" *ngIf="modalGanador" tabindex="-1" aria-labelledby="modalCategoriaLabel"
  aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCategoriaLabel">¡GANASTE!</h5>
      </div>
      <div class="modal-body">
          <h1>Felicidades adivinaste la palabra: {{palabraSecreta.join('')}}</h1>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModalGanador()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalGanador" class="modal-backdrop fade show"></div>

</div>