h5 {
    color: rgb(158, 230, 25);
    font-size: 25px;
    font-weight: 900;
}

p{
    color: rgb(179, 163, 19);
    font-weight: 600;
}

.carousel{
    margin-bottom: 20px;
}

.carousel-item {
    height: 500px;
}

.carousel-item img{
    height: 500px;
}   